@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sedan:ital@0;1&display=swap');

:root {
    --font-txt: "Sedan", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% /* 1rem = 10px */
}

body{
    background-color: whitesmoke;
    font-family: var(--font-txt);
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/* Header */
.titulo{
    margin-top: 10rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* Main */
.container{
    margin-top: 3vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2, h3{
    text-align: center;
    margin-bottom: 5px;
}

.container h2{
    font-weight: 500;
    font-size: 17px;
}

.container h3{
    color: gray;
    font-weight: 500;
    font-size: 13px;
}

.div-form{
    width: 100%;
}

.form-gastos{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 7px;
    padding: 10px;
}

.form-gastos label{
    font-size: 15px;
    font-weight: bold;
}

.form-gastos input{
    margin-bottom: 10px;
    padding: 2px;
    border: gray solid 1px;
    border-radius: 5px;
}

.form-gastos input::placeholder{
    color: rgb(182, 182, 182);
}

.btn-submit{
    border: solid rgb(0, 132, 255) 1px;
    border-radius: 5px;
    background-color: rgb(0, 132, 255);
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    width: 35%;
    margin: 0 auto;
}

.btn-submit:hover{
    background-color: rgb(0, 102, 255);
    border: solid rgb(0, 102, 255) 1px;
}

.lista-gastos{
    margin-top: 10px;
    width: 100%;
}

.lista-gastos h2{
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
}

.tabla-gastos{
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: center;
}

td{
    text-align: left;
}

td, th {
    border: 1px solid #dddddd;
    font-size: 15px;
    padding: 8px;
}

.td-eliminar{
    border: none;
}

/* Footer */
footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}